/*common shared style*/
body{
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
      }
.text-primary{
    color: orange;
}
.btn-primary{
    border-radius: 5px;
    background: orange;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}
.section-description{
    color: #757575;
    text-align: center;
    font-family: open sans;
    font-size: 18px;
}


/*nav related style*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    
}
.nav-title{
    color: black;
    font-family: open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}
nav> ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}
.header{
background-color: #fff8f3;
background-image: url('../portfolio-resources/images/header_bg.png');
background-repeat: no-repeat;
background-position:bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
}
.banner .profile-pic{
   width: 500px;
}
.banner-greeting{
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.note{
    font-size: 18px;
}
.banner-content{
    width: 585;
    height: 356;
}

/*main section styles*/
main{
    max-width: 1140px;
    margin: 0 auto;

}


/*about*/
.about{
    padding:130px;
    background-color: #fff8f3;
    border-radius: 10px;
    margin-top: 130px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.skills-container .skill-description{
    font-size: 16px;
    color: #757575;
}
.skills-container .skill{
    border-radius: 0;
    padding: 30px;
     background: #fff;
     box-shadow: 0px 6px 50px 0px 
}
/*resume section style*/
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.degree-name{
    font-size: 25px;
}
.degree-description{
    font-size: 16px;
    color: #757575;
}
.degree-year{
    font-size: 20px;
}
.resume-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.downdload-cv{
    text-align: center;
    margin-top: 50px;
}
/*footer style*/
footer{
    display: flex;
    background: #fff8f3;
}
